cloudpickle==1.6.0
gym==0.18.3
gym-notices==0.0.8
importlib_metadata==7.1.0
numpy==1.26.4
opencv-contrib-python==4.6.0.66
opencv-python==4.9.0.80
Pillow==8.2.0
pybullet==3.2.6
pyglet==1.5.15
scipy==1.13.0
zipp==3.18.1
